# General
.DS_Store
.env

# Python (Backend)
venv/
**/__pycache__/
*.pyc
.pytest_cache/

# Node.js (Frontend)
frontend/node_modules/
frontend/dist/
frontend/.env.local
frontend/.env
*.log

# Build Artifacts
build/
dist/
*.zip

.python-version
backend/runtime.txt
backend/cookies.txt
